<script>
  $(function() {
    // Create a new client to connect to Faye
    var fayeUrl = '/faye'
    // var fayeUrl = 'http://10.1.8.241:9292/faye'
    // var fayeUrl = 'https://lit-ravine-1969.herokuapp.com/faye'
    var client = new Faye.Client(fayeUrl);
    //for loalhost, all you need is var client = new Faye.Client('http://localhost:9292/faye')


// Subscribe to the public channel. This allows connected users to receive chats.this the <p> tags are going to be used  to take.  Its a method that takes in two arguments.  Where it subscribes to and then the data or mesage.(http://faye.jcoglan.com/browser/subscribing.html). this is how people receive other peoples chats.
    var public_subscription = client.subscribe('/messages/public', function(data) {
      $('<p></p>').html(data.username + ": " + data.msg).prependTo('#chat_room');
      if (data.scores) {
        $(".userScores").html()
      }
    });

     // Our own private channel. Allows an individual to receive messages on a private terminal.
    // var private_subscription = client.subscribe('/messages/private/<%= session[:username] %>', function(data) {
    //   $('<p></p>').addClass('private').html(data.username + ": " + data.msg).appendTo('#chat_room');
    // });

  });
</script>

<div class="chat_container container"  >
 <p class="alert"> Welcome to the chat room <%= current_user.name %>! </p>
 <div class = "row">
    <div id="chat_room" class= "col-md-8" style ="overflow-y:scroll">
      <%= form_tag chat_messages_path, remote: true do %>
      <%= submit_tag "Send" %>
      <%= text_field_tag :message %>
      <%= hidden_field_tag :chatroom_id, 1 %>
    <!-- we are leaving this here so that later we can dynamically call on different chatrooms. the above form should be changed to :chatroom_id , @chatroom.id instead of a value of 1-->
      <% end %>
   </div>

    <div id= "score_box" class = "col-md-4">
      <h1>Top Scorers</h1>
      <ul>
        <% @users.each do |user| %>
        <li><%= user.name %>, <%= user.score %></li>
        <% end %>
      <!--   <li><%= current_user.name %>, <%= current_user.score %></li> -->
      </ul>
    </div>
  </div>
</div>
  <!-- <form id="new_message_form">
    <input type="text" id="message" name="message">
    <input type="submit" value="Send">
  </form> -->

</div>
