<<<<<<< HEAD
=======

>>>>>>> master
<div class="chat_container container"  >
 <p class="alert"> Welcome to the chat room <%= current_user.name %>! </p>
 <div class = "row">
    <%= form_tag chat_messages_path, remote: true do %>
      <%= text_field_tag :message %>
       <%= submit_tag "Send" %>
      <%= hidden_field_tag :chatroom_id, 1 %>
    <!-- we are leaving this here so that later we can dynamically call on different chatrooms. the above form should be changed to :chatroom_id , @chatroom.id instead of a value of 1-->
      <% end %>
    <div id="chat_room" class= "col-md-8" style ="overflow-y:scroll">
   </div>
    <div id= "score_box" class = "col-md-4">
      <h1>Top Scorers</h1>
      <ol id="top_score">
        <% @users.each do |user| %>
        <li><%= user.name %>, <%= user.score %></li>
        <% end %>
      <!--   <li><%= current_user.name %>, <%= current_user.score %></li> -->
      </ol>
    </div>
  </div>
</div>
<<<<<<< HEAD
=======

>>>>>>> master
</div>
