<!DOCTYPE html>
<html>
<head>
  <title>DNDBabelBabble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- not sure if i need the above tag, need to point it to a different url -->
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/chatroom">
        <p> BabelBabble </p>
      </a>
    </div>
      <ul class= "nav navbar-nav navbar-right">
        <% if cookies[:user_id] %>
          <p class="navbar-text">Signed in as <%=current_user.name%></p>
          <p class="navbar-text"><%= link_to "Sign Out", "/sign_out" %></p>
       <%else %>
        <%= link_to "Connect With Facebook", "/auth/facebook" %>

        <%end%>
      </ul>

  </div>
</nav>
  <%= yield %>




</body>
</html>
